<h1>Welcome to the Marvel Battle Tracker!!!</h1>
<h4>Documenting the Marvel Cinematic Universe</h4>
<%= link_to "Battles", battles_path %><br>
<%= link_to "Characters", characters_path %><br>
<%= link_to "Movies", movies_path %>
