<h1>Superpowers#index</h1>
<p>Find me in app/views/superpowers/index.html.erb</p>

<h1>List of all Superpowers</h1>
<br>
<table>
  <thead>
    <tr>
      <th>Character</th>
      <th>Superpower</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= link_to character.name, character_path(character) %></td>
        <td><%= link_to character.alias, character_path(character) %></td>
        <td><%= link_to character.superpowers.name, character_path(character) %></td>
      </tr>
    <% end %>
  </tbody>
</table>