<h1>Superpowers#index</h1>
<p>Find me in app/views/superpowers/index.html.erb</p>

<h1>List of all Superpowers</h1>
<ol>
<% @superpowers.each do |superpower| %>
    <li>
      <%= link_to superpower.name, superpower_path(superpower) %>
    </li>
<% end %>
</ol>