<h1>Superpowers#show</h1>
<p>Find me in app/views/superpowers/show.html.erb</p>

<h1>Show a superpower</h1>

<p>Name: <%= @superpower.name %></p>
<p>Character: <%= @superpower.character.name %></p>
<br>
<%= link_to "Edit Superpower", edit_superpower_path(@superpower) %>