<h1>Movies#destroy</h1>
<p>Find me in app/views/movies/destroy.html.erb</p>

<%= form_tag ({controller: 'movies', action: 'destroy', method: 'post'}) do %>
    <input name=name>
    <input type=submit value='login'>
  <% end %>