<h1>New Movie</h1>
<%= render 'form' %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/movies', values);
    });
    # $.get('/movies');
  });
</script>