<h1>Movies#show</h1>
<p>Find me in app/views/movies/show.html.erb</p>

<h1>Show a movie</h1>

<p>Name: <%= @movie.name %></p>
<p>Year: <%= @movie.year %></p>
<br>
<%= link_to "Edit Movie", edit_movie_path(@movie) %>